/* #region Basics */
* {
	box-sizing: border-box;
}

:root {
	--b-primary-color: ;
	--b-green-color: rgb(81, 131, 71);
	--b-green-transparent-color: rgba(81, 131, 71, .05);
	--b-green-light-color: rgb(247, 249, 246);
	--b-primary-color: rgb(185, 62, 60);
	--b-red-color: #b93e3c;
	--b-red-transparent-color: rgba(185, 62, 60, 0.05);
	--b-blue-color: rgb(90, 146, 203);
	--b-blue-transparent-color: rgba(90, 146, 203, 0.05);
	--b-yellow-color: rgb(232, 195, 103);
	--b-yellow-transparent-color: rgba(232, 195, 103, 0.3);
	--b-header-color: rgb(70, 70, 70);
	--b-black-color: rgb(0, 0, 0);
	--b-border-color: rgb(230, 230, 233);
}

html {
	margin: 0 !important;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Libre Franklin";
	background-color: white;
}

h2 {
	font-family: Futura, "Jost", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1rem;
	color: var(--b-header-color);
}

h2:not(:first-child) {
	margin-top: 2rem;
}

section > h2 {
	margin-bottom: 1.5rem;
}

h1 {
	font-family: Futura, "Jost", sans-serif;
	font-weight: normal;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: var(--b-black-color);
}

/* #endregion */

/* #region Layout */
.b-center {
	display: flow-root;
	max-width: 40rem;
	margin: auto;
	padding: 1rem;
}

.b-center-wide {
	display: flow-root;
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem;
}
/* #endregion */

.b-box {
	padding: 2rem;
	border-radius: 10px;
	margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
	.b-box {
		padding: 1rem;
	}

}

.b-box--red {
	background-color: var(--b-red-transparent-color);
}

.b-box--yellow {
	background-color: var(--b-yellow-transparent-color);
}

.b-box--green {
	background-color: var(--b-green-transparent-color);
}

.b-float-right {
	float: right;
}

.b-icon {
	height: 0.8rem;
	position: relative;
	top: 1px;
}

.b-button {
	background-color: var(--b-border-color);
	color: black;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 20px;
	border: none;
	font-family: Futura, "Jost", sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	line-height: 1rem;
	transition: background-color 0.5s ease, color 0.5s ease;
	display: inline-block;
}

.b-button--active, .b-button:hover {
	background-color: var(--b-primary-color);
	color: white;
	cursor: pointer;
}

.b-button--yellow {
	background-color: var(--b-yellow-transparent-color);
}

.b-button--yellow.b-button--active, .b-button--yellow:hover {
	background-color: var(--b-yellow-color);
}

.b-button--green {
	background-color: var(--b-green-transparent-color);
}

.b-button--green.b-button--active, .b-button--green:hover {
	background-color: var(--b-green-color);
}

.b-button--blue {
	background-color: var(--b-blue-transparent-color);
}

.b-button--blue.b-button--active, .b-button--blue:hover {
	background-color: var(--b-blue-color);
}

.b-event-list {
	padding-bottom: 2rem;
}

.b-event-list > h2 {
	margin-top: 0;
}

.b-event-list__title {
	margin-top: 0.5rem;
	font-weight: bold;
}

.b-event-list__timeline {
	border-left: 1px solid var(--b-border-color);
	padding-left: 2rem;
	position: relative;
}

.b-event-list__timeline > .b-event-list__item::before {
	content: "";
	position: absolute;
	left: calc(-0.5rem - 1px);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--b-border-color);
}

.b-article-plug {
	position: relative;
}

.b-article-plug--has-image {
	padding-left: 8.5rem;
	overflow: hidden;
}

.b-article-plug__thumbnail {

	position: absolute;
	border-bottom: 0;
	left: 0;
	top: 1rem;
	left: 1rem;
}

.b-article-plug__thumbnail img {

	width: 100px;
	height: 100px;
}

.b-image-gallery__index {
	padding: 1rem 1rem 0 1rem;
}

@media screen and (min-width: 600px) {

	.b-article-plug__thumbnail {
		top: 0;
		bottom: 0;
		left: 0;
	}

	.b-article-plug--has-image {
		padding-left: 13rem;
	}

	.b-article-plug__thumbnail img {
		width: auto;
		height: 100%;
	}

}

.b-article-heading--small {
	font-size: 1.2rem;
}

.b-body-text {
	line-height: 1.7em;
	color: var(--b-header-color);
	display: flow-root;
}

.b-body-text ul {
	list-style-type: "-";
	margin: 0 0 0 2rem;
}

.b-body-text li {
	padding: 0 0 0 1rem;
}

.b-body-text p:last-child {
	margin-bottom: 0;
}

.b-article {
	margin-bottom: 4rem;
}

.b-article-permalink {
	font-size: 0.8rem;
	text-transform: uppercase;
	border-bottom: none;
}

.b-frontpage-hero {
	max-width: 70rem;
	margin: 0 auto;
}

.b-frontpage-hero img {
	width: 100%;
}

a {
	color: var(--b-primary-color);
	text-decoration: none;
	border-bottom: 1px solid var(--b-primary-color);
}

.b-form input,
.b-form textarea,
.b-form select {
	width: 100%;
	border: 1px solid var(--b-border-color);
	line-height: 2.5rem;
	padding: 0 1rem 0 1rem;
	border-radius: 5px;
}

.b-form select {
	height: 2.5rem;
}

.b-form label {
	font-weight: bold;
}

.b-form .wpcf7-not-valid-tip {
	color: var(--b-red-color);
	font-size: 0.9rem;
	margin-top: 0.5rem;
}

.b-form .wpcf7-response-output {
	padding: 1rem !important;
	margin: 0 !important;
}

.b-form.wpcf7.invalid .wpcf7-response-output {
	border-color: var(--b-red-color) !important;
}

.b-subject-heading {
	line-height: 1.6rem;
}

.wpcf7-spinner {
	top: -2rem;
	left: -1rem;
	opacity: .5 !important;
}

.b-subject-index__entry {
	position: relative;
	min-height: 2rem;
	margin-bottom: 3rem;
}

.b-subject-index .b-subject-heading {
	display: inline-block;
	text-align: right;
	margin-top: 0;
	color: var(--b-blue-color);
}

@media screen and (min-width: 1080px) {
	.b-subject-index__entry .b-subject-heading {
		position: absolute;
		left: -14rem;
		width: 12rem;
		top: 1px;
	}
}

.b-subject-link {
	display: inline-block;
	background-color: var(--b-blue-color);
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 20px;
	font-family: Futura, "Jost", sans-serif;
	font-weight: bold;
	font-size: 14px;
	border-bottom-width: 0;
}

.b-subject-link--small {
	font-size: 11px;
	padding: 7px 15px 7px 15px !important;
}

.b-subject-list__item-post {
	margin-bottom: 1rem;
}

.b-subject-list__item-posts-heading {
	font-family: "Libre Franklin";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
	color: var(--b-header-color);
}

.b-inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.b-inline-list li {
	display: inline-block;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.b-inline-list li:last-child {
	margin-right: 0;
}

aside .b-subject-list {
	margin: 0 auto;
	margin-top: 2rem;
}

.b-subject-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.b-subject-list__first-letter {
	display: block;
	margin-bottom: 1rem;
}

@media screen and (min-width: 1080px) {
	.b-subject-list__item {
		width: 50%;
		float: left;
	}

	.b-subject-list__first-letter {
		position: absolute;
		left: -2rem;
	}
}

.b-subject-list__item {
	position: relative;
	border-left: 1px solid var(--b-border-color);
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.b-navigation {
	padding: 1rem 0 1rem 0;
	border-bottom: 1px solid var(--b-border-color);
	position: relative;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	min-height: calc(18.8984px + 2rem);
}

.wp-block-image {
	margin: 0 -1rem 1rem -1rem;
	padding: 1rem 0 0 0;
}

.wp-block-image:first-child {
	padding-top: 0;
}

.wp-block-image:first-child + p {
	margin-top: 2rem;
}

.wp-block-image img {
	max-width: 100%;
}

@media only screen and (min-width: 60rem) {
	.wp-block-image {
		margin-left: -10rem;
		margin-right: -10rem;
	}

	.wp-block-image.b-frontpage-hero {
		margin-left: -15rem;
		margin-right: -15rem;
	}
}

.b-header {
	padding: 2rem 2rem 0rem 2rem;
	text-align: center;
}

.b-header-link {
	display: inline-block;
	border-bottom: none;
	margin-bottom: 2rem;
	width: 19rem;
}

.b-header-link__extra {
	font-weight: normal;
	display: inline-block;
	font-family: Futura, "Jost", sans-serif;
	color: black;
	margin-top: 1rem;
	text-transform: uppercase;
}

.b-header-link img {
	width: 100%;
	height: auto;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.b-menu {
	text-align: center;
	padding: 0 0 0 1rem;
	margin: 0;
}

.b-menu__item {
	display: inline-block;
	margin-right: 2rem;
}

@media only screen and (max-width: 700px) {
	.b-menu {
		text-align: left;
		overflow: auto;
		white-space: nowrap;
	}

	.b-menu::-webkit-scrollbar {
		display: none;
	}

	.b-menu__item {
		margin-right: 1rem;
	}
}

.b-menu__item:last-child {
	margin-right: 0;
}

.b-menu__link {
	font-family: Futura, "Jost", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	border-bottom: none;
	display: inline-block;
	height: 100%;
	position: relative;
}

.b-menu__link--active {
	font-weight: bold;
}

@media only screen and (min-width: 600px) {
	.b-menu__link--active::after,
	.b-menu__link:hover::after {
		display: block;
		content: "";
		position: absolute;
		background-color: var(--b-primary-color);
		height: 4px;
		width: 100%;
		top: calc(2rem + 3px);
	}
}

.b-menu-scroll-button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 8rem;
	background-color: red;
	border: none;
	background: linear-gradient(
	90deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 0.9024203431372549) 20%,
	rgba(255, 255, 255, 1) 100%
	);
}

/* #region Login */
.b-login {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	height: 100%;
	padding-left: 1rem;
}

.b-profile-button__login-link {
	text-align: center;
	position: relative;
	font-size: 0.8rem;
	background: var(--b-blue-color);
	display: block;
	border-radius: 20px;
	width: 4.5rem;
	right: 0.5rem;
	padding: 0.3rem;
	top: calc(50% - 0.65rem);
}

.b-profile-button__login-link a {
	color: white;
	border: none;
}

.b-profile-button {
	background: none;
	border: none;
	padding: 0;
	width: 2rem;
	height: 2rem;

	position: relative;
	right: 0.5rem;
	top: calc(50% - 1rem);
}

@media only screen and (max-width: 700px) {
	.b-profile-button {
		top: calc(50% - 1rem);
	}

	.b-login {
		border-left: 1px solid var(--b-border-color);
	}

	/* .b-profile-button::before {
		content: "";
		display: block;
		top: calc(-1rem);
		bottom: calc(-1rem);
		margin-left: -1rem;
		width: 1px;
		background-color: var(--b-blue-color);
		position: absolute;


	} */


}

.b-profile-button__image {
	width: 100%;
	border-radius: 50%;
}
/* #endregion */

/* #region Footer */
.b-footer {
	background-color: var(--b-blue-color);
	min-height: 25rem;
	padding: 3rem;
}

.b-footer .b-body-text {
	color: white;
}

.b-footer .b-body-text a {
	color: white;
	border-bottom-color: white;
}

.b-bleikoya-map {
	margin-top: 3rem;
	border-top: 1px solid var(--b-border-color);
	border-bottom: 1px solid var(--b-border-color);
}
/* #endregion */

.b-search-form {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin: 0 1rem 2rem 1rem;
}

.b-search-field {
	box-sizing: border-box;
	-ms-flex: 1;
	flex: 1;
	min-height: 2.25rem;
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid transparent;
	padding: 0 0 0 34px;
	line-height: 2.5rem;
	width: 100%;
	min-width: 0;
	font-size: 1rem;
	border-radius: .3125rem;
	background-color: var(--b-green-light-color);
	color: currentColor;
	z-index: 20;
	font-weight: 400;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.b-search-field::placeholder {
	color: #757575;
}

.b-search-field:focus {
	outline: 0;
	border-color: var(--b-blue-color);
	transition: border-color .3s ease-out;
}

.b-search-form button[type=submit] {
	height: 24px;
	width: 30px;
	border: 0;
	background: none;
	border-left: none;
	position: absolute;
	color: currentColor;
	font-size: 10px;
	left: 4px;
	padding: 0;
	top: 50%;
	margin-top: -1px;
	-ms-transform: translateY(-45%);
	transform: translateY(-45%);
	opacity: .7;
	z-index: 30;
}

@media screen and (min-width: 719px) {
	.b-search-form {
		width: 500px;
		margin: 0 auto 2rem auto;
	}
}

.b-search-items {
	margin: 0 0 0 0;
	position: absolute;
	z-index: 10;
	padding: 3px 0 0 0;
	list-style-type: none;
	border-top: none;
	border-bottom-left-radius: .3125rem;
	border-bottom-right-radius: .3125rem;
	background-color: var(--b-green-light-color);
	left: 0;
	right: 0;
	top: 42px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.b-search-items__item {
	position: relative;
}

.b-search-items__item a:empty {
	display: none;
}

.b-search-items__item a:focus {
	outline: 0;
	border-color: var(--b-blue-color);
	transition: border-color .1s ease-out;
}

.b-search-items__item button,
.b-search-items__item a {
	background: none;
	border: 2px solid transparent;
	padding: 5px 10px 5px 10px;
	font: inherit;
	cursor: pointer;
	display: block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: rgb(38, 41, 42);
	font-weight: 500;
	border-radius: .3125rem;
}

.b-search-items__item mark {
	background-color: var(--b-yellow-transparent-color);
	/* border-bottom: 1px solid var(--nrkmusikk-contrast); */
}

.b-search-items__item span {
	font-size: 11px;
	margin-top: 4px;
	display: block;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: rgba(0, 0, 0, 0.7);
}

.b-image-gallery {
	padding: 1rem 0 1rem 0;
	/* Prevent vertical gaps */
	line-height: 0;

	-webkit-column-count: 5;
	-webkit-column-gap: 0px;
	-moz-column-count: 5;
	-moz-column-gap: 0px;
	column-count: 5;
	column-gap: 0px;
	background-color: var(--b-green-color);
}

.wp-block-file {
	font-size: 1rem !important;
	display: flow-root;
	padding: 1rem;
	border-radius: 10px;
	background-color: var(--b-red-transparent-color);
}

/* min width 800px */
@media screen and (max-width: 700px) {
	.b-image-gallery {
		-webkit-column-count: 3;
		-webkit-column-gap: 0px;
		column-gap: 0px;
		-moz-column-count: 3;
		-moz-column-gap: 0px;
		column-count: 3;
	}
}

.b-image-gallery img {
	/* Just in case there are inline attributes */
	width: 100% !important;
	height: auto !important;
	cursor: pointer;
}

.b-image-gallery__lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	justify-content: center;
	align-items: center;
	z-index: 200;
	display: none;
}

.b-image-gallery__lightbox--open {
	display: flex;
}

.b-image-gallery__lightbox-container {
	width: 100%;

}

.b-image-gallery__lightbox-image {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.b-image-gallery__lightbox-close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
}

/* #region Events Calendar overrides */
.tribe-events-header__events-bar {
	display: none !important;
}

.tribe-events .tribe-events-l-container {
	padding-top: 0 !important;
	max-width: 40rem !important;
	margin: auto;
	padding: 1rem;
	min-height: auto !important;
	padding-bottom: 0 !important;
}

.tribe-events-c-subscribe-dropdown__container {
	margin-top: 2rem !important;
}

.tribe-events-c-subscribe-dropdown__button {
	padding: 0.5rem 1rem 0.5rem 1rem !important;
	background-color: var(--b-yellow-transparent-color) !important;
	border-radius: 20px !important;
	font-family: Futura, "Jost", sans-serif;
	font-size: 0.8rem;

}

.tribe-events-c-subscribe-dropdown__button button {
	text-transform: uppercase !important;
}

.tribe-events-c-subscribe-dropdown__button:hover {
	cursor: pointer;
}

.tribe-events-c-subscribe-dropdown {
	margin: 0 !important;
}

.single-tribe_events .tribe-events-c-subscribe-dropdown__container,
.tribe-events .tribe-events-c-subscribe-dropdown__container {
	flex-flow: initial !important;
}

.single-tribe_events
.tribe-events-c-subscribe-dropdown
.tribe-events-c-subscribe-dropdown__list,
.tribe-events
.tribe-events-c-subscribe-dropdown
.tribe-events-c-subscribe-dropdown__list {
	font-size: 0.8rem;
}

.tribe-events-c-subscribe-dropdown__button-text {
	border: none !important;
	background-color: transparent;
	color: var(--b-black-color);
}

.tribe-events-widget-events-list {
	border: 1px solid var(--b-border-color);
	padding: 1rem 2rem 2rem 2rem;
	margin: 2rem 0 2rem 0;
	font-size: 16px;
}

.tribe-events-calendar-list__event-datetime-featured-text {
	display: none;
}

.tribe-events-calendar-list__event-title {
	font-size: 1rem !important;
}

.tribe-events .tribe-events-calendar-list__event-title-link {
	color: var(--b-primary-color) !important;
}

.tribe-events-widget-events-list__event-row {
	display: flex;
}

.tribe-events-widget-events-list__event-date-tag-datetime,
.tribe-events-calendar-list__event-date-tag {
	background: var(--b-yellow-color);
	color: white;
	padding: 3px 1rem 3px 1rem !important;
	border-radius: 10px !important;
	margin-right: 1rem !important;
	height: 4rem;
}

@media screen and (max-width: 600px) {
	.tribe-events-calendar-list__event-date-tag {
		display: none;
	}

}


.tribe-events-calendar-list__event-date-tag-weekday,
.tribe-events-calendar-list__event-date-tag-daynum {
	text-transform: uppercase;
	font-family: Futura, "Jost", sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	top: .8rem;
	text-align: center;
	font-size: .9rem;
}

.tribe-events-calendar-list__event-date-tag-daynum {
	top: 2.2rem;
}


.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__month-separator
+ .tribe-events-calendar-list__event-row {
	margin-top: 1rem !important;
}

.tribe-common--breakpoint-medium.tribe-events
.tribe-events-c-search__input-control {
	margin: 0 !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__input,
.tribe-common-form-control-text__input.tribe-events-c-search__input {
	border: 1px solid var(--b-border-color);
	margin: 0 !important;
	padding: 0.5rem 1rem 0.5rem 1rem !important;
	border-radius: 20px !important;
	flex: 1;
}

.tribe-events-c-view-selector__list,
.tribe-events-c-view-selector {
	display: none !important;
}

.tribe-events .tribe-events-c-events-bar__search-container {
	display: block !important;
	position: inherit !important;
	padding: 0 !important;
	margin: 0 !important;
}

.tribe-events-c-events-bar__search-button {
	display: none !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding: 1rem !important;
}

.tribe-events .tribe-common-c-btn.tribe-events-c-search__button {
	width: auto;
	margin-top: 0 !important;
	background-color: var(--b-blue-color);
	border: none;
	border-radius: 20px;
	color: var(--b-blue-color);
	font-size: 1px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	margin-left: 1rem;
}

.tribe-common-h3.tribe-common-h--alt.tribe-events-c-top-bar__datepicker-button,
.tribe-events .tribe-events-c-top-bar__nav-link,
.tribe-common-c-btn-border-small,
.tribe-common--breakpoint-medium.tribe-common a.tribe-common-c-btn-border-small {
	background-color: var(--b-yellow-transparent-color);
	color: black;
	padding: 0.5rem 1rem 0.5rem 1rem !important;
	border-radius: 20px;
	border: none;
	font-family: Futura, "Jost", sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	transition: background-color 0.5s ease-in-out;
}

.tribe-events .tribe-events-c-top-bar__nav-link-icon-svg {
	height: 0.8rem !important;
}

.tribe-common button[disabled],
.tribe-common input[disabled] {
	background-color: var(--b-border-color) !important;
	border: none;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 20px;
}

.tribe-events-calendar-list-nav {
	display: none !important;
}

.tribe-events-header__events-bar,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-header__events-bar {
	margin-bottom: 1rem !important;
}

.tribe-events .tribe-common-c-btn.tribe-events-c-search__button::after {
	display: block;
	content: "Søk";
	font-size: 1rem;
	color: white;
}

.tribe-events-header__events-bar {
	width: 100%;
}

.tribe-events-c-events-bar__search-form {
	display: flex;
}

.tribe-common--breakpoint-medium.tribe-events	.tribe-events-calendar-list__event-row {
	margin: 0 0 2rem 0 !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row
+ .tribe-events-calendar-list__month-separator {
	margin-top: 2rem !important;
}

.tribe-events .tribe-events-c-search,
.tribe-events .tribe-events-c-search__input-group {
	align-items: center !important;
	flex: auto !important;
}

.tribe-events-calendar-list {
	position: relative;
	padding-left: 1rem !important;
	border-left: 1px solid var(--b-border-color) !important;
}

.tribe-events-calendar-list__event-row {
	position: relative;

	padding: 1rem !important;
	border-radius: 10px;
	margin-bottom: 2rem;
}

.tribe-events-calendar-list__event-row--featured {
	background-color: var(--b-yellow-transparent-color);
}

.tribe-events-calendar-list__event-row::before {
	content: "";
	position: absolute;
	left: calc(-1.5rem - 1px);
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--b-border-color);
}

.tribe-events-calendar-list__event-row .b-inline-list {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-row
> .tribe-common-g-col {
	padding-left: 1rem !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-date-tag,
.tribe-events .tribe-events-calendar-list__event-date-tag {
	flex: none !important;
	position: relative !important;
	width: 54px !important;
	min-width: auto !important;
}

.tribe-events-widget-events-list__event-title {
	margin-top: 0;
}

.tribe-events-widget-events-list__event-datetime,
.tribe-events-calendar-list__event-datetime {
	color: var(--b-red-color);
	text-transform: uppercase;
	font-size: 0.9rem;
}

.tribe-events-widget-events-list__view-more {
	text-align: right;
}

.tribe-events-widget-events-list__view-more a {
	border-bottom: none;
}

.datepicker-months .table-condensed {
	width: 100%;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
	background-color: var(--b-blue-color) !important;
	background-image: none !important;
}

/* #endregion */
