# fly.toml app configuration file generated for bleikoya-agent on 2026-02-19T20:41:39+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bleikoya-agent'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  size = 'performance-1x'
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
